{% extends "::base.html.twig" %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/summernote.css') }}" />{% endblock %}
{% block javascripts %}<script src="{{ asset('js/summernote.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>{% endblock %}
{% block title %}EMMA-Build{% endblock %}

{% block body %}
    <br/><br/>
    <div class="row">
    <form class="col-md-10 col-md-push-1 form-group" method="post">
        <div class="row form-inline">
        <input class=" form-control col-md-1 col-md-push-1" type="email" placeholder="From : Example@test.com" name="from">
        <input class=" form-control col-md-1 col-md-push-3" type="text" placeholder="Alias" name="alias">
        <input class="form-control col-md-1 col-md-push-5" type="text" placeholder="Subject : Hello" name="subject">
        </div>
        <br/><br/>
        <div class="row">
        <textarea class="form-control" id="summernote" name="editordata"></textarea>
        </div>
        <br/>
        <input class="col-md-2 col-md-push-5 submit" type="submit" value="Generate">
    </form>
    </div>

<div class="row">
    <a class="col-md-1 col-md-push-10 next" href="{{ path('send') }}">Send <i class="fa fa-angle-right"></i></a>
</div>
<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            placeholder: 'Build your Email Here. If you want to dynamically generate firstname, lastname, login and password, you should use those operators : %%nom%% , %%prenom%%, %%login%%, %%password%%. Then, click on Generate before Send.',
            height: 250
        });
    });

    window.sr = ScrollReveal();
    sr.reveal('.row', 50);
</script>
{% endblock %}
